<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">

  <Fragment>

    <Binary Id="LauncherCheckExe"
            SourceFile="LauncherCheck.exe" />

    <CustomAction Id="CheckMeowLauncher"
                  BinaryRef="LauncherCheckExe"
                  ExeCommand=""
                  Execute="immediate"
                  Return="check" />

    <InstallUISequence>
      <Custom Action="CheckMeowLauncher"
              After="CostFinalize">
        <![CDATA[NOT Installed]]>
      </Custom>
    </InstallUISequence>

  </Fragment>

</Wix>
