<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">

  <Fragment>

    <CustomAction Id="RunLauncherCheck"
                  FileRef="LauncherCheckComponent"
                  ExeCommand="[INSTALLFOLDER]"
                  Execute="immediate"
                  Return="check" />

    <InstallExecuteSequence>
      <Custom Action="RunLauncherCheck"
              Before="InstallFiles"
              Condition="NOT Installed" />
    </InstallExecuteSequence>

  </Fragment>

</Wix>
